{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{%block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .reset-password-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    .reset-password-container h2 {
        margin-bottom: 20px;
    }
    .reset-password-container label {
        display: block;
        margin-bottom: 5px;
    }
    .reset-password-container input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .reset-password-container .requirements {
        font-size: 12px;
        color: #666;
        margin-bottom: 20px;
    }
    .reset-password-container button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }
    .reset-password-container button:hover {
        background-color: #0056b3;
    }
</style>
{%endblock style%}
{% block body %}
<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form id="resetPasswordForm" method="post">
        {%csrf_token%}
        <label for="id_old_password">Old password:</label>
        <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
        
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1">
        <div class="requirements">
        <span class="helptext" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
        </div>

        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        
        <button type="submit">Reset Password</button>
</form>
<br>
{% endblock body %}